@import "./mixins";

@font-face {
  font-family: SourceCodePro400;
  src: url("../../../public/assets/fonts/SourceCodePro-Regular.ttf");
}
@font-face {
  font-family: SourceCodePro500;
  src: url("../../../public/assets/fonts/SourceCodePro-Medium.ttf");
}
@font-face {
  font-family: SourceCodePro600;
  src: url("../../../public/assets/fonts/SourceCodePro-SemiBold.ttf");
}
@font-face {
  font-family: SourceCodePro700;
  src: url("../../../public/assets/fonts/SourceCodePro-Bold.ttf");
}
@font-face {
  font-family: SpaceMono400;
  src: url("../../../public/assets/fonts/SpaceMono-Regular.ttf");
}
@font-face {
  font-family: SpaceMono700;
  src: url("../../../public/assets/fonts/SpaceMono-Bold.ttf");
}
@font-face {
  font-family: SplineSansMono400;
  src: url("../../../public/assets/fonts/SplineSansMono-Regular.ttf");
}
:root {
  --danger: #fe6313;
  --danger-light: #f4a789;
  --white: #ffffff;
  --dark: #000000;
  --dark-shade: #0c0e12;
  --info: #d9d9d9;
  --text-color: #000000b0;
  --label-text: #4f4f4f;
}
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-bottom: 0;
}

html,
body {
  height: 100%;
  max-width: 100vw;
  overflow-x: hidden;
  color: var(--dark);
  background-color: var(--dark-shade);
  font-family: "SpaceMono400";
}

@media screen and (max-width: 1320px) {
  html{
    font-size: 80%;
  }
}
@media screen and (max-width: 1200px) {
  html{
    font-size: 70%;
  }
}
@media screen and (max-width: 992px) {
  html{
    font-size: 62.5%;
  }
}
@media screen and (max-width: 576px) {
  html{
    font-size: 55%;
  }
}

a {
  color: inherit;
  text-decoration: none;
}

/*-------------------///-------------------*/
/*------          Classes            ------*/
.title50 {
  font-size: 3.125rem;
  font-family: SpaceMono700;
}
.title24 {
  font-size: 1.5rem;
  color: var(--label-text);
  font-family: SourceCodePro700;
}

.desc16 {
  font-size: 1rem;
  line-height: 2.125rem;
  color: var(--text-color);
  font-family: SplineSansMono400;
}

/*------          Colors            ------*/
.text-danger {
  color: var(--danger);
}

/*-------------------///-------------------*/
/*------           NavBar            ------*/
.navbar {
  min-height: 70px;
  border-bottom: 1px solid var(--info);
  .container {
    .navbar-brand {
      color: var(--white);
      font-size: 1.5rem;
      font-family: SpaceMono700;
    }
    .navbar-toggler {
      background-color: var(--danger-light);
      padding: 0.25rem 0.675rem;
    }
    .navbar-collapse {
      flex-grow: unset;
      margin-left: auto;

      .navbar-nav {
        align-items: center;

        .nav-link {
          font-size: 1.5rem;
          font-family: SpaceMono700;
          color: var(--white);
          padding: 0.5rem 0.625rem;
          @include hover($color: var(--danger));
        }

        .dropdown {
          background: linear-gradient(
            to bottom,
            #f1b15e,
            #a1d1ee,
            #332560,
            #e95044
          );
          padding: 2px;
          border-radius: var(--base-radius);
          text-transform: capitalize;
          @include hover($color: var(--danger), $bg: var(--white));
          .dropdown-toggle {
            max-height: 1.75rem;
            max-width: 2rem;
            min-height: 1.75rem;
            min-width: 2rem;
            padding: 0 !important;
            @include flex($justify: center, $align: center);
          }
          .dropdown-menu {
            .dropdown-item {
              padding: 0;
              &:active {
                background-color: var(--primary);
              }
              .lng-link {
                display: inline-block;
                width: 100%;
                padding: 0.225rem 1rem;
                text-transform: capitalize;
                @include hover {
                  color: var(--primary);
                }
                // background-color: #A1D1EE;
              }
            }
          }

          .nav-link {
            background-color: var(--white);
            padding: 0.3rem 0.4375rem;
            color: var(--dark);

            &::after {
              display: none;
            }
          }
        }
      }
    }
  }
}
/*-------------------///-------------------*/
/*------         Services            ------*/
.services {
  padding-top: 3.25rem;
  padding-bottom: 3.25rem;
  color: var(--white);
  h4 {
    font-size: 1.5rem;
    font-family: SourceCodePro700;
    color: var(--info);
    border-bottom: 3px solid var(--info);
    padding-bottom: 1.5rem;
  }
  .accordion {
    .accordion-item {
      background-color: transparent;
      border: none;
      .accordion-header {
        .accordion-button {
          padding: 8px 4px;
          background-color: transparent;
          border-bottom: 1px solid var(--info);
          box-shadow: none;
          border-radius: 0;
          color: var(--white);
          font-size: 3.125rem;
          font-family: SpaceMono700;
          @media screen and (max-width: 428px) {
            font-size: 2rem;
            font-family: SpaceMono400;
          }
          span {
            font-size: 0.875rem;
            margin-right: 1.125rem;
            font-family: SpaceMono400;
            align-self: flex-end;
          }
          &::after {
            background-image: url("../../../public/assets/images/plus-square.png");
            height: 1.5rem;
            width: 1.5rem;
            background-size: 1.5rem;
          }
        }
      }
      .accordion-body {
        color: var(--white);
      }
    }
  }
}
/*-------------------///-------------------*/
/*------        Form Control         ------*/
.form-control {
  font-family: SourceCodePro500;
  color: #6D6D6D;
  background-color: var(--white);
  border: none;
  border-radius: 0;
  box-shadow: none;
}
.form-select {
  color: #6D6D6D;
  background-color: var(--white);
  border: none;
  border-radius: 0;
}
.invalid-feedback {
  color: var(--dark);
}
/*-------------------///-------------------*/
/*------          Buttons            ------*/
.btn-primary {
  @include button(
    $bg: var(--primary),
    $color: var(--white),
    $radius: var(--radius-6),
    $padding: 0.625rem 1.125rem
  );
  font-size: var(--font-size-xl);
}
.btn-light {
  @include button(
    $bg: var(--info),
    $color: var(--dark),
    $radius: 4px,
    $padding: 0.625rem 1.125rem
  );
  font-size: var(--font-size-xl);
}
.block-btn {
  @include button(
    $bg: var(--dark),
    $color: var(--white),
    $radius: 0,
  );
  width: 100%;
  font-size: 1.5rem;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.btn-link {
  background-color: transparent;
  color: var(--danger);
  font-size: 2rem;
  font-family: SourceCodePro700;
  text-decoration: none;
  cursor: pointer;
  padding: 0;
}
