.aboutUs {
  padding: 2rem 0;
  border-top: 1px solid var(--info);
  border-bottom: 1px solid var(--info);
  .dtl {
    font-size: 2.875rem;
    font-family: SpaceMono400;
    @media screen and (max-width: 767.5px) {
      font-size: 1.5rem;
      margin-top: 1rem;
      margin-bottom: 2rem;
    }
    span {
      color: var(--danger);
    }
  }
  .NumbersSection {
    justify-content: space-evenly;
    .numbers {
      position: relative;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin-top: 4rem;
      h1 {
        font-size: 5rem;
        font-family: SpaceMono700;
      }
      p {
        font-size: 1.5rem;
        font-family: SourceCodePro600;
        color: var(--label-text);
      }
      .addIcon {
        position: absolute;
        right: -16px;
        top: -16px;
      }
    }
  }
}
