@import "../../app/styles/mixins";

.testimonialsSection {
  padding-top: 3.125rem;
  padding-bottom: 3.125rem;
  background-color: var(--danger);
  .tabsContainer {
    h1 {
      color: var(--info);
    }
    .btnGrid {
      margin-top: 3rem;
      @media screen and (max-width: 767.5px) {
        @include flex();
        margin-top: 1rem;
        margin-bottom: 1rem;
      }
    }
    .testimonialContent {
      color: var(--white);
      h1 {
        color: var(--white);
      }
      .projectName {
        font-size: 1.125rem;
        color: #f0f0f0;
      }
      .desc {
        font-size: 2rem;
        margin-top: 2rem;
        @media screen and (max-width: 767.5px) {
          font-size: 1.5rem;
        }
        .descIcon {
          width: 9rem;
          margin-right: 2rem;
          float: left;
          @media screen and (max-width: 767.5px) {
            height: 6rem;
            width: 6rem;
            margin-right: 1rem;
          }
        }
      }
    }
  }
}
